.hero {
    padding: 20px;
    color:whitesmoke;
    font-size: 30px;
    background-color:#560319;
    font-family: Arial, Helvetica, sans-serif;
    margin: -10px;

} 


nav {

    display: block;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 10 px;
}

.nav-item-list {
    display: flex;
    float: right;
    padding: 10px;
    flex-direction: row;
    text-decoration:none ;
    
}

li {
    padding: 10px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

body{

    background:#91a3b0;
}
    

.top-left{

    display: inline-flex;
    flex-direction: column;
    color: whitesmoke;
    margin: 100px;
    font-size: 50px;
}
    


.link-list {
 color: black;

}







